student {
    display: block;
    border-style: groove;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    color: Navy;
}

usn {
    display: block;
    margin-left: 10px;
    font-size: 14pt;
    color: Red;
}

name {
    display: block;
    margin-left: 20px;
    font-size: 14pt;
    color: Blue;
}

college {
    display: block;
    margin-left: 20px;
    font-size: 12pt;
    color: Maroon;
}

branch {
    display: block;
    margin-left: 20px;
    font-size: 12pt;
    color: Purple;
}

yoj {
    display: block;
    margin-left: 20px;
    font-size: 12pt;
    color: Green;
}

email {
    display: block;
    margin-left: 20px;
    font-size: 12pt;
    color: Blue;
}